<% var cssPath = "css/custom.css"; %>
<% var pageTitle = "MyPage"; %>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="<%- cssPath %>">

  <!-- Title and Description -->
  <title><%- pageTitle %></title>

</head>
