<!DOCTYPE html>
<html>
  <%- include('partial/_head'); %>
  <body class="text-center">
    <a href="No_01.html">No1</a>
    <a href="No_02.html">No2</a>
    <%- include('partial/_footer'); %>
  </body>
</html>
